<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="area.html">Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="avaliacao.html">Avaliação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="cidade.html">Cidade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="curso.html">Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="disciplinacurso.html">Disciplina por Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="disciplina.html">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="frequencia.html">Frequencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="instituicao.html">Instituições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="matricula.html">Matriculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ocorrencia.html">Ocorrências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ocupacao.html">Ocupações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="periodo.html">Períodos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="pessoa.html">Pessoas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="tipos_avaliacao.html">Tipos de Avaliação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="turma.html">Turma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Olá, é bom te ver por aqui</h1>
            <p class="lead">Esta é a página inicial do Sitema Escolar</p>
            <p class="lead">Seja Bem Vindo(A)</p>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
